body {
  background-color: #0b0b0b;
  background-image: url("logo.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 600px;
  background-attachment: fixed;

  color: #e5e5e5;
  font-family: monospace;
  margin: 0;
  padding: 20px;
}


.terminal {
  max-width: 800px;
  margin: auto;
}

h1 {
  font-size: 14px;
  letter-spacing: 2px;
  color: #7cff7c;
}

pre {
  background: #000;
  padding: 10px;
  overflow-x: auto;
}

.action {
  margin: 30px 0;
  text-align: center;
}

.action a {
  color: #000;
  background: #7cff7c;
  padding: 10px 20px;
  text-decoration: none;
  font-weight: bold;
}

.action a:hover {
  background: #9dff9d;
}

.proof {
  margin-top: 40px;
  border-top: 1px solid #333;
  padding-top: 20px;
}

